@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	margin : 0px;
	font-family : 'Work Sans', sans-serif;
	font-size : 16px;
}

h1, h2, h3, h4, h5, h6{
	font-family : 'Work Sans', sans-serif;
	font-weight : 500px;
}

header{
	display: block;
	
}
#topBar{
	width: 100%;
	min-height:50px;
	position: fixed;
	top:0px;
}


.topBarMain {
    background-color: #f5f5f5;
    width: 100%;
    position: fixed;
    height: 49px;
}

section{
	padding : 70px 0px;
}

.container {
    width: 1000px;
    
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.topBarWrapper{
	overflow: hidden;
}

.phone {
    width: 200px;
    float: left;
	padding: 15px 15px;
	border-left: 1px solid #ddd;
	
}
.phone i {
    color: #ff5200;
}

.email {
    width: 738px;
    float: left;
	padding: 15px 15px;
	border-left: 1px solid #ddd;
}
.email i {
    color: #ff5200;
}

.social {
    width: 140px;
    float: left;
	transition : .3s;
}
.social i:hover{
	color: #ff5200;
}

.social a {
    float: left;
    display: block;
    padding: 15px;
    border-right: 1px solid #ddd;
    color: #2b2b2b;
}

.social a:first-child {
	border-left: 1px solid #ddd;
}

.primaryMenu {
	background: white;
	padding-top: -1px;
	padding-bottom: -7px;
	width: 100%;
	min-height: 10px;
	position: fixed;
	top: 49px;
}



.primaryWrapper {
    overflow: hidden;
    width: 100%;
	display: block;
	
}

.logo {
	margin-top: 32px;
	width: 50px;
	float: left;
}

.menu {
    width: 755px;
    float: right;
}
.menu ul{
	padding:0px;

}
.menu ul li {
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	float: left;
	list-style: none;
	width: 90px;

  
}

.menu ul li:hover{
	transform: scale(1.3);
	transition: ease-in-out 1.1s;
	
}

ul.mainMenuItem {
    list-style: none;
	float: right;
}


ul.mainMenuItem li {
    float: left;
}
ul.mainMenuItem li#searchBtn i {
    margin-top:5px;
}

ul.mainMenuItem li a{
	text-decoration: none;
	font-family: oswald;
	font-size: 15px;
	display: block;
	padding: 30px 25px;
	color: black;
	font-weight: 500;
	transition : .5s;
}

ul.mainMenuItem li a:hover{
	color : #ff5200;
}

#homeSlider{
	margin-top: 165px;
	background: url(https://images.pexels.com/photos/2036686/pexels-photo-2036686.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-position: 20%;
	padding: 0px;
	width: auto;
	/* height: 556px; */
}

.sliderContent {
    color: white;
	width : 600px;
}

.sliderContent h1 {
    float: left;
    margin-top: 110px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 39px;
    line-height: 56px;
    letter-spacing: -1.1;
}

.sliderContent p {
    margin-bottom: 48px;
    width: 395px;
    font-weight: 600;
    line-height: 25px;
    widht: 100px;
}

button#sliderWorkButton {
    color: white;
    background: #ff5200;
    padding: 15px 28px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    margin-bottom: 100px;
	cursor: pointer;
	transition : .5s;
}

#sliderWorkButton:hover{
	background: white;
	color: #ff5200;
	
    
    font-weight: 700;
    border: none;
    border-radius: 5px;
    
	cursor: pointer;
	
	
}

.sliderNav {
    width: 54px;
    margin: auto;
    padding-bottom: 57px;
}

.sliderNav span {
    width: 9px;
    height: 9px;
    background: transparent;
    border: 4px solid #ddd;
    display: block;
    border-radius: 100%;
	margin: 0px 5px;
    float: left;
    
	cursor: pointer;
}

.sliderNav span:last-child{
	background: #ff5200;
	border-color: #ff5200;
}

#services{
	background: #f5f6f6;
}

.sboxWrapper{
	overflow: hidden;
}


.singleBox{
	width: 185px;
	text-align: center;
	background: white;
	padding: 15px;
	float: left;
	margin: 0px 15px;
	transition: 0.3s;
	border-radius: 2px;
}

.singleBox:hover{
	background: #fb5200;
	color: white;
	cursor: pointer;
}

.singleBox:hover h2, .sboxLink a{
	
	color: white;
}

.singleBox:hover .sboxLink a{
	
	color: white;
}

.singleBox:hover .sboxIcon i{
	
	color: white;
}

#singleBox2{
	background: #fb5200;
	color: white;
	
}

#singleBox2 .sboxIcon i{
	background: #fb5200;
	color: white;
	
}

#singleBox2 h2{
	
	color: white;
	
}

#singleBox2 a{
	
	color: white;
	
}

.singleBox i.fa-long-arrow-right{
	position: relative;
	top: 2px;
	left: 2px;
}

.sboxTitle h2 {
    font-size: 22px;
    letter-spacing: -1.1px;
    color: #333;
    line-height: 28px;
    text-transform: uppercase;
    margin: 25px 0px;
}

.sboxTitle {
    width: 176px;
    text-align: center;
    margin: auto;
}

.sboxIcon {
    text-align: center;
    margin: 30px 0px 25px 0px;
    font-size: 30px;
    color: #fb5200;
	
}



.sboxDesc {
    text-align: center;
    margin: 25px 0px;
}

.sboxLink{
	text-align: center;
	margin-bottom: 30px;
}

.sboxLink a {
    /* text-align: center; */
    text-decoration: none;
    color: #fb5200;
    font-weight: 600;
}

.teamContents {
    overflow: hidden;
	display: flex;
	gap: 40px;
}

.teamImage {
    width: 480px;
}

.teamImage img{
	max-width: 100%;
}

.teamDetails {
    width: 480px;
}

.titleDecs h2 {
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 23px;
}


.titleDecs p {
    
    line-height: 25px;
    color: #666;
    margin-bottom: 30px;
}

.teamFacilities ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
	width: 275px;
	
}

.teamFacilities{
	display: flex;
	overflow: hidden;
	margin-bottom: 25px;
}

.teamFacilities ul li {
    line-height: 40px;
    font-weight: 500;
	

}

.teamFacilities ul li a {
    text-decoration: none;
    color: black;
	transition: 0.3s;
}

.teamFacilities ul li:hover a {
    
    color: #fb5200;
}
.teamFacilities ul li:hover i {
    
    color: #fb5200;
}

.teamFacilities ul li a i {
    font-size: 12px;
	color: #444;
	margin-right: 7px;
	transition: 0.3s;
}

.teamContentBtm a {
	text-decoration: none;
	color: white;
	background: #fb5200;
	padding: 10px  80px;
	font-weight: bold;
	font-size: 16px;
	border-radius: 3px;
	transition: 0.5s;
}
.teamContentBtm {
	margin-top: 20px;
    text-align: center;
}
.teamContentBtm a:hover {
	
	color: white;
	background: #444;
	
}

#whyChooseUs {
	background:linear-gradient(#00000074,#00000074), url(https://images.pexels.com/photos/8487376/pexels-photo-8487376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.iconWrapper{
	overflow: hidden;
	
	
}
.singleIcons{
	width: 250px;
	text-align: center;
	color: white;
	float: left;

	margin-right: 30px;
    margin-left: 32px;
	
	
}

.sIcon {
    font-size: 40px;
}

.singleIcons h2 {
    font-size: 45px;
	font-weight: 900;
	font-family: arial black;
	margin: 2px;
	margin-top: 20px;
}

.singleIcons h4 {
    font-size: 15px;
}

